<div class="row">
  <div class="col-12">
      Imagen Random
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipeDetail.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" href="#">Add Ingridients to Shopping List</button>
        <button class="dropdown-item" href="#">edit Recipe</button><button class="dropdown-item" href="#">delete Recipe</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ recipeDetail.description }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
