<div class="row">
  <div class="col-12">
    <img src="{{recipeDetail.imagePath}}" class="img-thumbnail rounded-top" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipeDetail.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle open" type="button" id="triggerId"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" appDropdown *ngIf="recipeDetail.name.length > 0">
        Manage Recipe
      </button>
      <!--[ngClass]="{show: buttonDrop.classList.contains('open')}-->
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" (click)="onAddToShoppingList()">Add Ingridients to Shopping List</button>
        <button
          class="dropdown-item"
          (click)="onEditRecipe()"
        >edit Recipe</button>
        <button class="dropdown-item">delete Recipe</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ recipeDetail.description }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class="display-4" *ngIf="recipeDetail.name.length > 0">Ingredients:</h3>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipeDetail.ingredients"
      >
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
  </ul>
  </div>
</div>
